@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f5f9f5;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #2c3e50;
}
